* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.message {
    margin: 10px;
    width: 390px;
    min-height: 87px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: end;
    margin-bottom: 4px;
}

.cloud {
    display: flex;
    align-items: flex-end;
}

.angle {
    width: 50px;
    height: 50px;
    background: radial-gradient(
            circle at 0 0,
            rgba(0, 0, 0, 0),
            50px,
            rgba(0, 0, 0, 0.5) 0
    );
}

.textWrapper {
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 10px 0;
}

.name {
    margin-bottom: 10px;
    font-size: 20px;
    color: darkviolet;
    font-weight: 700;
}

.messageText {
    max-width: 400px;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
    word-wrap: break-word;
}

.time {
    font-size: 20px;
    color: green;
    align-self: end;
}
